<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Projects</title>

    <!--Boxicons CDN-->
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

    <!--Custom CSS-->
    <link rel="stylesheet" href="/css/styleallprojects.css">
</head>
<body>
    
    <div class="wrapper">
        <button class='logout-btn' type="button">Log out</button>
        <div class="wrapper-image">
        </div>
        <div class="wrapper-content">
            <div class="wc-div">
                <table id="projectsList">
                    <tr>
                        <th>Project Name</th>
                        <th>Created on</th>
                        <th>Created By</th>
                        <th>Assigned To</th>
                        <th>Deadline</th>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    
    <!--Script.js-->
    <script src="/js/script.js"></script>
</body>
</html>
