<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Projects</title>

    <!--Boxicons CDN-->
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

    <!--Custom CSS-->
    <link rel="stylesheet" href="/css/styleallprojects.css">

</head>
<body>
    
    <div class="wrapper">

        <button class='logout-btn' type="button">Log out</button>

        <div class="wrapper-image">
            
        </div>
        <div class="wrapper-content">
            <div class="wc-div">
                
                
                <table>
                    <tr>
                        <th>Project Name</th>
                        <th>Created on</th>
                        <th>Deadline</th>
                        <th>Created By</th>
                        <th>Assigned To</th>
                        <th>Completed?</th>
                    </tr>
                    <tr>
                        <td><a href="#">Road Construction Project</a></td>
                        <td>01/01/2023</td>
                        <td>01/15/2023</td>
                        <td>Brian</td>
                        <td>Brian</td>
                        <td>Yes</td>
                    </tr>
                    <tr>
                        <td><a href="#">Manhole Repair Project</a></td>
                        <td>02/15/2023</td>
                        <td>02/25/2023</td>
                        <td>Konyi</td>
                        <td>Jane</td>
                        <td>Pending</td>
                    </tr>
                    <tr>
                        <td><a href="#">Estate Construction Project</a></td>
                        <td>03/20/2023</td>
                        <td>04/01/2023</td>
                        <td>Max</td>
                        <td>Rob</td>
                        <td>Yes</td>
                    </tr>
                </table>
        
            </div>
                

    

    </div>
    
   







    <!--Script.js-->
    
</body>
</html>