<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Admin</title>

    <!--Boxicons CDN-->
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

    <!--Custom CSS-->
    <link rel="stylesheet" href="/css/stylehome.css">

</head>
<body>
    
    <div class="wrapper">
        <div class="logout">
            <button class='logout-btn' type="button">Log out</button>
        </div>

        <div class="wrapper-image">
            
        </div>
        <div class="wrapper-buttons">
                <button class='btn' type="button">Assign Tasks</button>
                <button class='btn'>View Assigned Tasks</button>
                <button class='btn'>Check Completed Projects</button>

        </div>

    </div>
    
   







    <!--Script.js-->
    
</body>
</html>