<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Admin</title>

    <!--Boxicons CDN-->
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

    <!--Custom CSS-->
    <link rel="stylesheet" href="/css/style.css">

</head>
<body>
    
    <div class="wrapper">
        

        <div class="wrapper-image">
            
        </div>
        <div class="wrapper-buttons">
            <div class="form-box login">

                <h2 class="title animation" style="--i:0; --j:21">Login</h2>
    
                <form action="#">
    
                    <div class="input-box animation" style="--i:1; --j:22">
                        <input type="text" required>
                        <label for="">Email Address</label>
                        <i class='bx bxs-user'></i>
                    </div>
    
                    <div class="input-box animation" style="--i:2; --j:23">
                        <input type="password" required>
                        <label for="">Password</label>
                        <i class='bx bxs-lock-alt' ></i>
                    </div>
    
                    <button type="submit" class="btn animation" style="--i:3; --j:24">Login</button>
    
                    <div class="linkTxt animation" style="--i:5; --j:25">
                        <p><a href="#" class="register-link"></a></p>
                    </div>
                    
                </form>
            </div>

        </div>

    </div>
    
   







    <!--Script.js-->
    <script src="/js/script.js"></script>
</body>
</html>