<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Projects</title>

    <!--Boxicons CDN-->
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

    <!--Custom CSS-->
    <link rel="stylesheet" href="/css/stylesnewproject.css">

</head>
<body>
    
    <div class="wrapper">

        <button class='logout-btn' type="button">Log out</button>

        <div class="wrapper-image">
            
        </div>
        <div class="wrapper-content">
            
            <div id="new-project-form">
                <form id="project-form">
                    <input type="text" placeholder="Project Name" required>
                    <input type="text" placeholder="Task" required>
                    <input type="text" placeholder="Expected Date of Completion" required>
                    <select name="assign-to" id="assign-to" required>
                        <option value="" disabled selected>Assign To:</option>
                        <option value="John">John</option>
                        <option value="Jane">Jane</option>
                        <option value="Alex">Alex</option>
                        <!-- Add more options as needed -->
                    </select>
                    <button id="cp-btn" type="submit">Create Project</button>
                </form>
            </div>
                
        </div>            

        
    </div>
    
   







    <!--Script.js-->
    <sript src="js/script.js"></sript>
    
</body>
</html>